// Init
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

// Variables
$font: "Plus Jakarta Sans", sans-serif;
$background: #ffffff;
$DarkBlue: #13183f;
$text: #83869a;
$accent: #f74780;
$gradientPrim: linear-gradient(0deg, #f02aa6, #ff6f48);
$gradientSec: linear-gradient(0deg, #4851ff, #f02aa6);

$inspect: solid red 1px;

//-- Main Styles

body {
  font-family: $font;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
  // border: $inspect;
}
main {
  border: $inspect;
  width: 1440px;
  min-width: 1100px;
}

button {
  width: 167px;
  height: 56px;
  border-radius: 28px;
  font-family: $font;
  font-size: 1.125rem;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  transition: 250ms ease;
}
button:hover {
  opacity: 0.5;
}

h1 {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 70px;
  color: $DarkBlue;
}

//-- Header styles

header {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//-- Hero styles
.hero {
  border: $inspect;
  display: flex;

  .hero-content {
    width: 50%;

    .text {
      margin-top: 29px;
      margin-bottom: 40px;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 28px;
      color: $text;
    }
  }

  .hero-image {
    width: 50%;

    figure {
      background-image: url();
    }
  }
}

//-- Grid/Tile styles

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  margin-bottom: 140px;

  .tile {
    // border: $inspect;
    position: relative;
    background: white;
    padding: 0 32px;
    padding-top: 64px;
    width: 350px;
    height: 322px;
    border-radius: 15px;
    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);

    img {
      position: absolute;
      top: -22px;
      width: 56px;
      height: 56px;
    }
    h2 {
      margin-bottom: 24px;
      font-size: 1.5rem;
      color: darkblue;
      font-weight: 800;
      text-transform: capitalize;
    }
    p {
      font-size: 1.125rem;
      color: text;
      font-weight: 500;
      line-height: 28px;
    }
    .link {
      position: absolute;
      bottom: 40px;
      font-size: 1.125rem;
      color: $accent;
      font-weight: 700;
      text-transform: capitalize;
      cursor: pointer;
      transition: 250ms ease;
    }
    .link:hover {
      opacity: 0.5;
    }
  }

  .first-tile {
    background: $gradientPrim;
    color: white;
    font-size: 2rem;
    font-weight: 800;
  }
}

//-- Footer styles
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background: $DarkBlue;
}
